// Footer

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-footer-color;

  &__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__logo {
    color: $white-text-color;
    margin-bottom: 20px;
  }
  &__text-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: (16 / 14);
    text-transform: uppercase;
    color: $white-text-color;
  }
}

.adress {
  font-style: inherit;
  &__list {
    @extend %list;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    line-height: (24 / 14);
    color: $secondary-text-color-a60;
    text-decoration: none;
    transition: color $duration-and-cubic-bezier;
  }

  &__link--white-color {
    color: $white-text-color;
  }

  &__link--hover-focus:hover,
  &__link--hover-focus:focus {
    color: $accent-text-color;
  }
}

// Footer form
.footer-form {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  justify-content: center;

  &__name {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: (16 / 14);
    text-transform: uppercase;
    color: $white-text-color;
  }

  &__input {
    padding-left: 16px;
    min-width: 358px;
    min-height: 50px;
    background-color: transparent;
    border: 1px solid $footer-form-border-color;
    filter: drop-shadow(0px 4px 4px $box-shadow-color-a15);
    border-radius: 4px;
    color: $white-text-color;
    transition: border-color $duration-and-cubic-bezier;
  }

  &__input::placeholder {
    font-size: 16px;
    line-height: (20 / 16);
    color: $secondary-text-color-a60;
  }

  &__input:focus {
    border-color: $accent-border-color;
    outline: none;
  }

  &__btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: $accent-bg-color;
    box-shadow: 0px 4px 4px $box-shadow-color-a15;
    border-radius: 4px;
    border: 1px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: (30 / 16);
    letter-spacing: 0.06em;
    color: $white-text-color;
    min-height: 50px;
    min-width: 200px;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  &__icon {
    fill: $white-icon-color;
  }
}
